-5py
absl-py
astor
certifi
cycler
Cython
gast
google-pasta
grpcio
h5py
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
mkl-fft
mkl-service
numpy
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
opt-einsum
Pillow
pip
protobuf
pyparsing
pyreadline
python-dateutil
pytz
setuptools
six
tensorboard
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor
tornado
Werkzeug
wheel
wincertstore
wrapt
